<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.com.se.sharepictrue"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PublishActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.PersonalHomepageActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.ForgetActivity"/>
        <activity android:name=".activity.SendMessageActivity"/>
        <activity android:name=".activity.ShareDetailActivity"/>
        <activity android:name=".activity.ConcernActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.RankActivity"/>
        <activity android:name=".activity.MineCollectionActivity"/>
        <activity android:name=".activity.ManagerUserActivity"/>
        <activity android:name=".activity.HideKeyActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.MineInfoActivity"/>
    </application>

</manifest>
